*{
    padding: 0px;
    text-decoration: none;


}
.father{
background-color:#dadada;
text-decoration: none;
padding: 5em;



}


.logo{
    width: 280px;
    padding-left: 2em;
    margin-left: -5em;;
    
    margin-bottom: 2em;

    
}


.border_left{
    border-left: .8px solid #c7c7c7;

}

.consulta{
 list-style: none;
  text-decoration: none !important;
  position: relative;
display: inline;
top: -1.5em;
 

  
   
}

h5{
    color: #6b6b6b;

    
}

li{
    list-style-type: none;
    text-align: left;
}
a{
    text-decoration: none !important;
    color: #3c3c3c;
    
}
a:hover{
    color: #e20515;
}



p{
    color: #3c3c3c;;
}

.leyenda{
    background-color: #350004 ;
    text-align: center;
    padding: 2.5em;
    padding-bottom: 0%;
    

}

.white{
    color: #f7f2f2;
}
.min{
    font-size: 10pt;
}

.img{
    width:100%;
    margin-left: -.5em;
}